<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Delete Data</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="C:/xampp/htdocs/djangos/operasicrud/assets/bootstrap/dist/css/bootstrap.min.css">
	<style>
		.footerbyw3schools
		{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: blue;
			color: white;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="h1">
			<center>Delete Data</center>
		</div>
		&nbsp;
		<div class="col-sm-12">
			<!-- form start -->
            <form action="/deletedata/{{ deletedata.id }}" class="form-horizontal" method="POST" novalidate>			
			{% csrf_token %}
				<div class="h3 text-center">
					<p>Are you sure want to delete this data "{{ deletedata.title }}" ?</p>
				</div>
				&nbsp;
				<div class="text-center">
					<button type="submit" class="btn btn-primary ">Delete Data</button>
					<a href="{% url 'readdata' %}" class="btn btn-danger pull-right">Cancel</a>
				</div>
              <!-- /.box-footer -->
            </form>
		</div>
	</div>
	<div class="footerbyw3schools">
		<div class="h4">Made by salmalfarisi at 31-10-2019</div>
	</div>
</body>
</html>